
@-webkit-keyframes titleInAnimation{
	from {opacity:0.2;-webkit-transform:rotate(0deg) scale(0.9) translate(0px, -20px);}
	to {opacity:1;-webkit-transform:rotate(0deg) scale(1) translate(0px, 0px);}
}
@-moz-keyframes titleInAnimation{
	from {opacity:0.2;-moz-transform:rotate(0deg) scale(0.9) translate(0px, -20px);}
	to {opacity:1;-moz-transform:rotate(0deg) scale(1) translate(0px, 0px);}
}
@-o-keyframes titleInAnimation{
	from {opacity:0.2;-o-transform:rotate(0deg) scale(0.9) translate(0px, -20px);}
	to {opacity:1;-o-transform:rotate(0deg) scale(1) translate(0px, 0px);}
}
@keyframes titleInAnimation{
	from {opacity:0.2;transform:rotate(0deg) scale(0.9) translate(0px, -20px);}
	to {opacity:1;transform:rotate(0deg) scale(1) translate(0px, 0px);}
}

@-webkit-keyframes titleHoverAnimation{
	from {opacity:1;-webkit-transform:scale(1) translate(0px, 0px);}
	to {opacity:1;box-shadow: 2px 3px 3px #000000; -webkit-transform:scale(1.05) translate(0px, -8px);}
}
@-moz-keyframes titleHoverAnimation{
	from {opacity:1;-moz-transform:scale(1) translate(0px, 0px);}
	to {opacity:1;box-shadow: 2px 3px 3px #000000; -moz-transform:scale(1.05) translate(0px, -8px);}
}
@-o-keyframes titleHoverAnimation{
	from {opacity:1;-o-transform:scale(1) translate(0px, 0px);}
	to {opacity:1;box-shadow: 2px 3px 3px #000000; -o-transform:scale(1.05) translate(0px, -8px);}
}
@keyframes titleHoverAnimation{
	from {opacity:1;transform:scale(1) translate(0px, 0px);}
	to {opacity:1;box-shadow: 2px 3px 3px #000000; transform:scale(1.05) translate(0px, -8px);}
}

div.titleName{
	font-family:Microsoft YaHei;
	color:#DA893F;
	align:center;
	text-shadow: 2px 3px 3px #292929;  
    background: #8BAF88;
	border: 3px solid #707571;
	border-radius: 15px;
	padding: 19px;

	-webkit-animation-name: titleInAnimation;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	
	-moz-animation-name: titleInAnimation;
	-moz-animation-duration: 2.5s;
	-moz-animation-delay: 2s;
	-moz-animation-fill-mode: forwards;
	
	-o-animation-name: titleInAnimation;
	-o-animation-duration: 2.5s;
	-o-animation-delay: 2s;
	-o-animation-fill-mode: forwards;
	
	animation-name: titleInAnimation;
	animation-duration: 2.5s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
div.titleName:hover{
	-webkit-animation-name: titleHoverAnimation;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 0s;	
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: initial;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-play-state: initial;
	-webkit-transition-duration: 500ms;
	
	-moz-animation-name: titleHoverAnimation;
	-moz-animation-duration: 0.5s;
	-moz-animation-delay: 0s;	
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: initial;
	-moz-animation-fill-mode: forwards;
	-moz-animation-play-state: initial;
	-moz-transition-duration: 500ms;
	
	-o-animation-name: titleHoverAnimation;
	-o-animation-duration: 0.5s;
	-o-animation-delay: 0s;	
	-o-animation-iteration-count: 1;
	-o-animation-direction: initial;
	-o-animation-fill-mode: forwards;
	-o-animation-play-state: initial;
	-o-transition-duration: 500ms;
	
	animation-name: titleHoverAnimation;
	animation-duration: 0.5s;
	animation-delay: 0s;	
	animation-iteration-count: 1;
	animation-direction: initial;
	animation-fill-mode: forwards;
	animation-play-state: initial;
	transition-duration: 500ms;
}

@-webkit-keyframes titleDescriptionInAnimation{
	from {opacity:0.2;-webkit-transform:translate(0px, -20px);}
	to {opacity:1;-webkit-transform:translate(0px, 0px);}
}
@-moz-keyframes titleDescriptionInAnimation{
	from {opacity:0.2;-moz-transform:translate(0px, -20px);}
	to {opacity:1;-moz-transform:translate(0px, 0px);}
}
@-o-keyframes titleDescriptionInAnimation{
	from {opacity:0.2;-o-transform:translate(0px, -20px);}
	to {opacity:1;-o-transform:translate(0px, 0px);}
}
@keyframes titleDescriptionInAnimation{
	from {opacity:0.2;transform:translate(0px, -20px);}
	to {opacity:1;transform:translate(0px, 0px);}
}

div.titleDescription{
	font-family:Microsoft YaHei;
	color:#B36C2A;
	text-shadow: 1px 1px 1px #292929;
	-webkit-animation-name: titleDescriptionInAnimation;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	
	-moz-animation-name: titleDescriptionInAnimation;
	-moz-animation-duration: 2.5s;
	-moz-animation-delay: 2s;
	-moz-animation-fill-mode: forwards;
	
	-o-animation-name: titleDescriptionInAnimation;
	-o-animation-duration: 2.5s;
	-o-animation-delay: 2s;
	-o-animation-fill-mode: forwards;
	
	animation-name: titleDescriptionInAnimation;
	animation-duration: 2.5s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes shortTrasnlate{
	from {-webkit-transform:translate(0px,0px);}
	to {-webkit-transform:translate(0px,-2px);}
}
@-moz-keyframes shortTrasnlate{
	from {-moz-transform:translate(0px,0px);}
	to {-moz-transform:translate(0px,-2px);}
}
@-o-keyframes shortTrasnlate{
	from {-o-transform:translate(0px,0px);}
	to {-o-transform:translate(0px,-2px);}
}
@keyframes shortTrasnlate{
	from {transform:translate(0px,0px);}
	to {transform:translate(0px,-2px);}
}


@-webkit-keyframes galleryFadeIn{
	from {opacity:0.2;-webkit-transform:rotate(90deg) scale(0.5);}
	to {opacity:1;-webkit-transform:rotate(0deg) scale(1);}
}
@-moz-keyframes galleryFadeIn{
	from {opacity:0.2;-moz-transform:rotate(90deg) scale(0.5);}
	to {opacity:1;-moz-transform:rotate(0deg) scale(1);}
}
@-o-keyframes galleryFadeIn{
	from {opacity:0.2;-o-transform:rotate(90deg) scale(0.5);}
	to {opacity:1;-o-transform:rotate(0deg) scale(1);}
}
@keyframes galleryFadeIn{
	from {opacity:0.2;transform:rotate(90deg) scale(0.5);}
	to {opacity:1;transform:rotate(0deg) scale(1);}
}

.gallery-animation{
	-webkit-animation-name: galleryFadeIn;
	-webkit-animation-duration: 1.5s;
	
	-moz-animation-name: galleryFadeIn;
	-moz-animation-duration: 1.5s;
	
	-o-animation-name: galleryFadeIn;
	-o-animation-duration: 1.5s;
	
	animation-name: galleryFadeIn;
	animation-duration: 1.5s;
}
.gallery-animation:hover{
	
}
.gallery-text-shadow{
	-webkit-transition:all 0.1s ease;
	-moz-transition:all 0.1s ease;
	-o-transition:all 0.1s ease;
	transition:all 0.1s ease;
}
.gallery-text-shadow:hover{
	text-shadow: 1px 1px 1px #00ff25;
}

/*gallery-caption-fadein-animation*/
@-webkit-keyframes galleryCaptionFadeIn{
	from {opacity:0;}
	to {opacity:1;}
}
@-moz-keyframes galleryCaptionFadeIn{
	from {opacity:0;}
	to {opacity:1;}
}
@-o-keyframes galleryCaptionFadeIn{
	from {opacity:0;}
	to {opacity:1;}
}
@keyframes galleryCaptionFadeIn{
	from {opacity:0;}
	to {opacity:1;}
}

.gallary-caption-animation{
	-webkit-animation-name: galleryCaptionFadeIn;
	-webkit-animation-duration: 1.8s;
	-webkit-transition-delay:0s;	
	
	-moz-animation-name: galleryCaptionFadeIn;
	-moz-animation-duration: 1.8s;
	-moz-transition-delay:0s;	
	
	-o-animation-name: galleryCaptionFadeIn;
	-o-animation-duration: 1.8s;
	-o-transition-delay:0s;	
	
	animation-name: galleryCaptionFadeIn;
	animation-duration: 1.8s;
	transition-delay:0s;	
}

/*gallary-caption-fadeout-animation*/
@-webkit-keyframes galleryCaptionFadeOut{
	from {opacity:1;}
	to {opacity:0;}
}
@-moz-keyframes galleryCaptionFadeOut{
	from {opacity:1;}
	to {opacity:0;}
}
@-o-keyframes galleryCaptionFadeOut{
	from {opacity:1;}
	to {opacity:0;}
}
@keyframes galleryCaptionFadeOut{
	from {opacity:1;}
	to {opacity:0;}
}


.gallary-caption-fadeout-animation{
	-webkit-animation-name: galleryCaptionFadeOut;
	-webkit-animation-duration: 1.2s;
	
	-moz-animation-name: galleryCaptionFadeOut;
	-moz-animation-duration: 1.2s;
	
	-o-animation-name: galleryCaptionFadeOut;
	-o-animation-duration: 1.2s;
	
	animation-name: galleryCaptionFadeOut;
	animation-duration: 1.2s;
}

/*±ß¿ò±äÔ²½Ç*/
.round-border {
    -moz-border-radius: 8px;      /* Gecko browsers */
    -webkit-border-radius: 8px;   /* Webkit browsers */
    border-radius:8px;            /* W3C syntax */
}

.water-reflection{
	-webkit-box-reflect:below -1 -webkit-linear-gradient(transparent,transparent 20%,rgba(255,255,255,.2));
	line-height:1;
}

@-webkit-keyframes hoverLink{
	from {color:#009cd5;}
	to {color:#9E0000;}
}
@-moz-keyframes hoverLink{
	from {color:#009cd5;}
	to {color:#9E0000;}
}
@-o-keyframes hoverLink{
	from {color:#009cd5;}
	to {color:#9E0000;}
}
@keyframes hoverLink{
	from {color:#009cd5;}
	to {color:#9E0000;}
}

a.linklogo{
	opacity:0.8
}
a.linklogo:hover{
	opacity:1
}

a.linkToRed{
	color:#00699E;	
}
a.linkToRed:hover,
a.linkToRed:active{
	color:#9E0000;
}

@-webkit-keyframes plantDetailTitle{
	from {opacity:0.2;-webkit-transform:translate(0px,-25px);
	}
	to {opacity:1;-webkit-transform:translate(0px,0px);
	}
}
@-moz-keyframes plantDetailTitle{
	from {opacity:0.2;-moz-transform:translate(0px,-25px);
	}
	to {opacity:1;-moz-transform:translate(0px,0px);
	}
}
@-o-keyframes plantDetailTitle{
	from {opacity:0.2;-o-transform:translate(0px,-25px);
	}
	to {opacity:1;-o-transform:translate(0px,0px);
	}
}
@keyframes plantDetailTitle{
	from {opacity:0.2;transform:translate(0px,-25px);
	}
	to {opacity:1;transform:translate(0px,0px);
	}
}

div.plantDetailTitle > h3{
	-webkit-animation-name: plantDetailTitle;
	-webkit-animation-duration: 1.0s;
	
	-moz-animation-name: plantDetailTitle;
	-moz-animation-duration: 1.0s;
	
	-o-animation-name: plantDetailTitle;
	-o-animation-duration: 1.0s;
	
	animation-name: plantDetailTitle;
	animation-duration: 1.0s;
}

tr.retrieveTableLine {
	
}
tbody.retrieveTableLine tr:hover > td{
	text-shadow: 0px 0px 1px #007800;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	transform: translateY(-32x);
	transition: 500ms
}

.footnoteLink > a {
	color: #052C0A;
}
.footnoteLink > a:hover,
.footnoteLink > a:active{
	color: #052C0A;
	text-shadow: 0px 0px 1px #052C0A;
}

a.blackLink,
.footnoteDescription > a {
	color: #000000;	
}

a.blackLink:hover,
a.blackLink:active,
.footnoteDescription > a:hover,
.footnoteDescription > a:active{
	color: #000000;
	text-shadow: 0px 0px 1px #000000;	
}


a.taxaDescription{
	color: #004acd;	
}
a.taxaDescription:hover,
a.taxaDescription:active{
	color: #0058f6;
/*	text-shadow: 1px 1px 1px #000000;	*/
}

@keyframes indexMenu-1-Animation{
	from {opacity:0.2;transform:translate(0px,-75px);}
	to {opacity:1;transform:translate(0px,0px);}
}
@-webkit-keyframes indexMenu-1-Animation{
	from {opacity:0.2;-webkit-transform:translate(0px,-75px);}
	to {opacity:1;-webkit-transform:translate(0px,0px);}
}
@-moz-keyframes indexMenu-1-Animation{
	from {opacity:0.2;-moz-transform:translate(0px,-75px);}
	to {opacity:1;-moz-transform:translate(0px,0px);}
}
@-o-keyframes indexMenu-1-Animation{
	from {opacity:0.2;-o-transform:translate(0px,-75px);}
	to {opacity:1;-o-transform:translate(0px,0px);}
}


#menu-1{
	-webkit-animation-name: indexMenu-1-Animation;
	-webkit-animation-duration: 2.0s;
	-webkit-animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
	
	-moz-animation-name: indexMenu-1-Animation;
	-moz-animation-duration: 2.0s;
	-moz-animation-delay: 1s;
	-moz-animation-fill-mode: forwards;
	
	-o-animation-name: indexMenu-1-Animation;
	-o-animation-duration: 2.0s;
	-o-animation-delay: 1s;
	-o-animation-fill-mode: forwards;
	
	animation-name: indexMenu-1-Animation;
	animation-duration: 2.0s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}
#menu-2{
	-webkit-animation-name: indexMenu-1-Animation;
	-webkit-animation-duration: 2.0s;
	-webkit-animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	
	-moz-animation-name: indexMenu-1-Animation;
	-moz-animation-duration: 2.0s;
	-moz-animation-delay: 2s;
	-moz-animation-fill-mode: forwards;
	
	-o-animation-name: indexMenu-1-Animation;
	-o-animation-duration: 2.0s;
	-o-animation-delay: 2s;
	-o-animation-fill-mode: forwards;
	
	animation-name: indexMenu-1-Animation;
	animation-duration: 2.0s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
#menu-3{
	-webkit-animation-name: indexMenu-1-Animation;
	-webkit-animation-duration: 2.0s;
	-webkit-animation-delay: 3s;
	-webkit-animation-fill-mode: forwards;
	
	-moz-animation-name: indexMenu-1-Animation;
	-moz-animation-duration: 2.0s;
	-moz-animation-delay: 3s;
	-moz-animation-fill-mode: forwards;
	
	-o-animation-name: indexMenu-1-Animation;
	-o-animation-duration: 2.0s;
	-o-animation-delay: 3s;
	-o-animation-fill-mode: forwards;
	
	animation-name: indexMenu-1-Animation;
	animation-duration: 2.0s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}
#menu-4{
	-webkit-animation-name: indexMenu-1-Animation;
	-webkit-animation-duration: 2.0s;
	-webkit-animation-delay: 4s;
	-webkit-animation-fill-mode: forwards;
	animation-name: indexMenu-1-Animation;
	animation-duration: 2.0s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
	
	-moz-animation-name: indexMenu-1-Animation;
	-moz-animation-duration: 2.0s;
	-moz-animation-delay: 4s;
	-moz-animation-fill-mode: forwards;
	
	-o-animation-name: indexMenu-1-Animation;
	-o-animation-duration: 2.0s;
	-o-animation-delay: 4s;
	-o-animation-fill-mode: forwards;
}

@-webkit-keyframes pin-tips-animation{
	from {opacity:0.2;-webkit-transform:translate(0px,-75px);}
	to {opacity:1;-webkit-transform:translate(0px,0px);}
}
@-moz-keyframes pin-tips-animation{
	from {opacity:0.2;-moz-transform:translate(0px,-75px);}
	to {opacity:1;-moz-transform:translate(0px,0px);}
}
@-o-keyframes pin-tips-animation{
	from {opacity:0.2;-o-transform:translate(0px,-75px);}
	to {opacity:1;-o-transform:translate(0px,0px);}
}
@keyframes pin-tips-animation{
	from {opacity:0.2;transform:translate(0px,-75px);}
	to {opacity:1;transform:translate(0px,0px);}
}


@-webkit-keyframes pin-tips-animation2{
	from {opacity:1;-webkit-transform:translate(0px,0px);}
	to {opacity:1;-webkit-transform:translate(0px,0px);}
}
@-moz-keyframes pin-tips-animation2{
	from {opacity:1;-moz-transform:translate(0px,0px);}
	to {opacity:1;-moz-transform:translate(0px,0px);}
}
@-o-keyframes pin-tips-animation2{
	from {opacity:1;-o-transform:translate(0px,0px);}
	to {opacity:1;-o-transform:translate(0px,0px);}
}
@keyframes pin-tips-animation2{
	from {opacity:1;transform:translate(0px,0px);}
	to {opacity:1;transform:translate(0px,0px);}
}

.pin-tips-animation{
	-webkit-animation-name: pin-tips-animation;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;	
	
	-moz-animation-name: pin-tips-animation;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 2s;
	-moz-animation-fill-mode: forwards;
	
	-o-animation-name: pin-tips-animation;
	-o-animation-duration: 2s;
	-o-animation-delay: 2s;
	-o-animation-fill-mode: forwards;
	
	animation-name: pin-tips-animation;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
.pin-tips{
	-webkit-animation-name: pin-tips-animation2;
	-webkit-animation-duration: 0.0000001s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;	
	
	-moz-animation-name: pin-tips-animation2;
	-moz-animation-duration: 0.0000001s;
	-moz-animation-delay: 0s;
	-moz-animation-fill-mode: forwards;	
	
	-o-animation-name: pin-tips-animation2;
	-o-animation-duration: 0.0000001s;
	-o-animation-delay: 0s;
	-o-animation-fill-mode: forwards;	
	
	animation-name: pin-tips-animation2;
	animation-duration: 0.0000001s;
	animation-delay: 0s;
	animation-fill-mode: forwards;	
}